.tooltip-content {
    background: white;
    position: relative;
    border: 1px solid #ddd;
    color: black;
    padding: 10px;
    z-index: 100;
    transform: translateX(-50%) translateY(5px);
    min-width: 120px;
}

circle.frame-hover {
    stroke: #aaa;
    r: 4;
}

.show-bg-black .annotation-note-bg {
    fill: black;
    fill-opacity: .5;
}

.show-bg .annotation-note-bg {
    fill: blue;
    fill-opacity: .02;
}

.tick-line {
    fill: none;
}

.brushed-area .subject {
    fill: #0074D9;
    fill-opacity: 0.15;
    stroke: none;
}

.bar-icon path {
}

.axis.radial path {
    fill: #aeeef8;
    stroke : #aeeef8;
    stroke-width: 1;
    stroke-opacity: 0.2;
    opacity: 0.1;
    box-shadow: 20px 10px 10px #dff84d;
}

.dark-tooltip-content {
    background: black;
    opacity: .5;
    color: white;
    stroke: black;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
}